<ng-container >
  <div class="row mb-3">
    <div class="col-12 col-sm-6 text-center text-sm-left">
      <h3 class="title">{{easiness.companyName}}</h3>
    </div>
  </div>
  <table class="table table-responsive">
    <thead>
      <tr>
        <th rowspan="2">Nombre Facilidad</th>
        <th colspan="4">Cupo Corto Plazo</th>
        <th rowspan="2" colspan="2">Estado</th>
      </tr>
      <tr>
        <th>Cupo Aprobado</th>
        <th>Cupo disponible</th>
        <th>Cupo Bloquedado</th>
        <th>Cupo Utilizado</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of easiness.easiness; let i = index;" >
        <td *ngIf="!easiness.related || easiness.related && item.related">{{item.name}}</td>
        <td *ngIf="!easiness.related || easiness.related && item.related">{{item.quotes.approved}}</td>
        <td *ngIf="!easiness.related || easiness.related && item.related">{{item.quotes.available}}</td>
        <td *ngIf="!easiness.related || easiness.related && item.related">{{item.quotes.blocked}}</td>
        <td *ngIf="!easiness.related || easiness.related && item.related" >{{item.quotes.used}}</td>
        <td *ngIf="!easiness.related || easiness.related && item.related" class="statusItems">
          <span *ngIf="!isEditingArray[i]">{{item.status}}</span>
          <div *ngIf="isEditingArray[i]">
            <select class="form-select tableSelect"  ngDefaultControl name="selectStatus" [(ngModel)]="statuses[i]" >
              <option value="Activo">Activo</option>
              <option value="Bloqueado">Bloqueado</option>
              <option value="Inactivo">Inactivo</option>
            </select>
          </div>
        </td>
        <td *ngIf="!easiness.related || easiness.related && item.related" class="statusItems">
          <div *ngIf="!easiness.related" >
            <input class="form-check-input" type="checkbox" value="isRelatedArray[i]" [(ngModel)]="isRelatedArray[i]" >
            <!--<mat-checkbox [(ngModel)]="isRelatedArray[i]"></mat-checkbox>-->
          </div>
          <div class="btn mx-auto" *ngIf="easiness.related" (click)="editStatus(i)">
            <mat-icon >edit</mat-icon>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="row justify-content-left justify-content-sm-end  mx-auto">
    <div class="col-0 col-sm-6"></div>
    <div class=" col-12  my-3 col-sm-3 mr-sm-1">
      <button class="btn  primaryBtn" id="saveRelation" (click)="save()">Guardar</button>
    </div>
    <div class=" col-12 my-3 col-sm-3 ml-sm-1">
      <button class="btn  secondaryBtn" id="CleanRelation" (click)="clean()">Limpiar</button>
    </div>
  </div>
</ng-container>
