.tableSelect, .form-select,.form-select:active{
  max-width: 110px;
  vertical-align: middle;
  text-align: center;
  font-size: 12px;
  border-color: transparent;
  background-color: #EAEAEA;
}
table{
  width: 100%;
}
