<div class="container">
  <div class="row mt-sm-5 mt-3">
    <div class="col-12 col-sm-6 mx-auto">
      <h1 class="title text-center">Datos empresa</h1>
    </div>
  </div>
  <app-search-id (idSend) ="searchId($event)" [searchError]="searchError" [clean]="doClean"></app-search-id>
  <div class="row justify-content-center">
    <div  *ngIf="currEasinessData != null" class="col-12 col-sm-9 pl-3 my-4">
      <app-create-edit-easiness  [easiness]="currEasinessData" (Clean)="clean($event)"></app-create-edit-easiness>
    </div>
  </div>
</div>
