<div class="container py-4 bg">


  <mat-radio-group class="row mx-auto justify-content-center" name="type" [(ngModel)]="selected"
                   (ngModelChange)="select($event)">
    <div class="col-10 col-sm-5 mx-auto" aria-label="Carga Individual">
      <mat-radio-button class="mx-auto" name="individual" [value]="types[0]">
        Carga Individual
      </mat-radio-button>
    </div>
    <div class="col-10 col-sm-5 mx-auto" aria-label="Carga Masiva">
      <mat-radio-button class="mx-auto" name="massive" [value]="types[1]">
        Carga Masiva
      </mat-radio-button>
    </div>
  </mat-radio-group>

</div>
