<div class="container">
  <!--search section-->
  <div class="row mt-sm-5 mt-3">
    <div class="col-12 col-sm-6 mx-auto">
      <h1 class="title text-center">Reimpresión comprobantes pago</h1>
    </div>
  </div>
  <div class="row mx-auto">
    <mat-label class="col-12 mx-auto labels text-center my-2">Producto:</mat-label>
  </div>
  <div class="container py-4 bg">
    <mat-radio-group class="row mx-auto justify-content-center" name="type" [(ngModel)]="searchType">
      <div class="col-10 col-sm-4" aria-label="Carga individual">
        <mat-radio-button class="mx-auto my-2" [name]="types[0]" [value]="types[0]">
          Proveedor
        </mat-radio-button>
      </div>
      <div class="col-10 col-sm-3" aria-label="Carga masiva">
        <mat-radio-button class="mx-auto my-2" [name]="types[1]" [value]="types[1]">
          Distribuidor
        </mat-radio-button>
      </div>
    </mat-radio-group>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-sm-6">
      <div class="row mx-auto">
        <mat-label class=" col-12 mx-auto labels text-left my-2">Número factura</mat-label>
      </div>
      <div class="row mx-auto">
        <mat-form-field appearance="outline" class="col-12 mx-auto">
          <input matInput type="number" name="number" id="invoice_number"
                 [(ngModel)]="data.invoice_number" >
        </mat-form-field>
      </div>
      <div class="row">
        <div class="errors col-12 mx-auto text-center my-2">
          {{errorNumber}}
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-6">
      <div class="row mx-auto">
        <mat-label class=" col-12 mx-auto labels text-left my-2">Número operación</mat-label>
      </div>
      <div class="row mx-auto">
        <mat-form-field appearance="outline" class="col-12 mx-auto">
          <input matInput type="number" name="number" id="operation_number"
                 [(ngModel)]="data.operation_number">
        </mat-form-field>
      </div>
      <div class="row">
        <div class="errors col-12 mx-auto text-center my-2">
          {{errorNumber}}
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-sm-6">
      <div class="row mx-auto">
        <mat-label class=" col-12 mx-auto labels text-left my-2">Desde:</mat-label>
      </div>
      <div class="row mx-auto">
        <mat-form-field appearance="outline" class="col-12 mx-auto">
          <input matInput [matDatepicker]="datepicker" [(ngModel)]="data.selectedStartDate" name="selectedStartDate">
          <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
          <mat-datepicker #datepicker>
            <mat-datepicker-actions>
              <button mat-button matDatepickerCancel>Cancelar</button>
              <button mat-raised-button color="primary" matDatepickerApply>Seleccionar</button>
            </mat-datepicker-actions>
          </mat-datepicker>

        </mat-form-field>

      </div>
    </div>
    <div class="col-12 col-sm-6">
      <div class="row mx-auto">
        <mat-label class=" col-12 mx-auto labels text-left my-2">Hasta:</mat-label>
      </div>
      <div class="row mx-auto">
        <mat-form-field appearance="outline" class="col-12 mx-auto">
          <input matInput [matDatepicker]="datepicker1" [(ngModel)]="data.selectedEndDate" name="selectedEndDate">
          <mat-datepicker-toggle matSuffix [for]="datepicker1"></mat-datepicker-toggle>
          <mat-datepicker #datepicker1>
            <mat-datepicker-actions>
              <button mat-button matDatepickerCancel>Cancelar</button>
              <button mat-raised-button color="primary" matDatepickerApply>Seleccionar</button>
            </mat-datepicker-actions>
          </mat-datepicker>
        </mat-form-field>
      </div>
    </div>
  </div>

  <div class="row mt-3 justify-content-center">
    <div class="col-md-3 col-12 text-center text-md-right ">
      <button class="btn primaryBtn px-5 my-2 mx-2 " mat-button
              [disabled]="(!data.invoice_number || !data.operation_number) || !searchType "
              (click)="search()">Buscar
      </button>
    </div>
    <div class="col-md-3 col-12 text-center text-md-left ">
      <button class="btn secondaryBtn px-5 my-2 mx" mat-button (click)="clean()">Limpiar</button>
    </div>
  </div>

  <div class="row justify-content-left justify-content-sm-end mx-auto"
       *ngIf="payedInvoices.length>0">
    <div class="col-12 col-sm-11">
      <h4 class="title mt-4">Listado pagos</h4>
    </div>

  </div>
  <div class="row justify-content-center"
       *ngIf="payedInvoices.length>0">
    <div class="col-12 my-3">
      <p class="table-description">Se muestran {{payedInvoices.length}} de un total de {{payedInvoices.length}}
        pagos</p>
      <div class="table-responsive">
        <table mat-table [dataSource]="payedInvoicesDataSource" class=" table table-striped">

          <!-- invoice number Column -->
          <ng-container matColumnDef="invoice_number">
            <th mat-header-cell *matHeaderCellDef class="text-center">
              Número factura
            </th>
            <td mat-cell *matCellDef="let element"> {{element.invoice_number}} </td>
          </ng-container>

          <!-- operation number Column -->
          <ng-container matColumnDef="operation_number">
            <th mat-header-cell *matHeaderCellDef class="text-center">
              Número operación
            </th>
            <td mat-cell *matCellDef="let element"> {{element.operation_number}} </td>
          </ng-container>

          <!-- payment_date Column -->
          <ng-container matColumnDef="payment_date">
            <th mat-header-cell *matHeaderCellDef class="text-center"><b>Fecha pago factura</b></th>
            <td mat-cell *matCellDef="let element"> {{element.payment_date}} </td>
          </ng-container>

          <!-- status Column -->
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef class="text-center"><b>Acciones</b></th>
            <td mat-cell *matCellDef="let element">
              <button class="btn secondaryBtn px-5 my-2 mx-2 " mat-button
                      (click)="download(element)">Reimprimir
              </button>
            </td>
          </ng-container>

          <!-- firstHeadersRow -->
          <tr mat-header-row *matHeaderRowDef="paymentsHeaders"></tr>
          <tr mat-row *matRowDef="let row; columns: paymentsHeaders;"></tr>
        </table>
      </div>
      <mat-paginator [pageSizeOptions]="[10, 20, 50, 100, 200, 300]"
                     showFirstLastButtons
                     aria-label="Seleccione la pagina">
      </mat-paginator>




    </div>
  </div>



</div>

