<div class="my-container alternate-theme" [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar class="toolbar elevation mat-elevation-z2" id="topbar">
    <!--<button mat-button-icon (click)="snav.toggle()" *ngIf="mobileQuery.matches">-->
    <mat-icon (click)="snav.toggle()" *ngIf="mobileQuery.matches">
      menu
    </mat-icon>
    <!--</button>-->
    <img src="../assets/img/logo.png" class="img-fluid pl-2 py-1 m-0" style="width:9%;" *ngIf="!mobileQuery.matches"
         alt="Banco Pichincha">
  </mat-toolbar>
  <mat-sidenav-container class="sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [opened]="true"
                 [fixedInViewport]="true" fixedTopGap="56" class="mat-elevation-z3 sidenav">
      <mat-nav-list class="mat-nav-list">
        <a mat-list-item class="mat-list-item" routerLink="/create-company"
           (click)="mobileQuery.matches ? snav.toggle(): clickedLink()">
          Crear Empresa
        </a>
      </mat-nav-list>
      <mat-nav-list class="mat-nav-list">
        <a mat-list-item class="mat-list-item" routerLink="/adc-consultation"
           (click)="mobileQuery.matches ? snav.toggle(): clickedLink()">
          Consulta ADC
        </a>
      </mat-nav-list>
      <mat-expansion-panel style="width: 100%;">
        <mat-expansion-panel-header>Carga Facturas</mat-expansion-panel-header>
        <mat-nav-list class="mat-nav-list">
          <a mat-list-item class="mat-list-item" routerLink="/load-provider-invoices"
             (click)="mobileQuery.matches ? snav.toggle(): clickedLink()">
            Carga de Facturas Proveedor
          </a>
          <a mat-list-item class="mat-list-item" routerLink="/approve-provider-invoices"
             (click)="mobileQuery.matches ? snav.toggle(): clickedLink()">
            Aprobar Facturas Proveedor
          </a>
          <a mat-list-item class="mat-list-item" routerLink="/confirm-provider-invoices"
             (click)="mobileQuery.matches ? snav.toggle(): clickedLink()">
            Confirmar Facturas Proveedor
          </a>
          <a mat-list-item class="mat-list-item" routerLink="/delete-provider-invoices"
             (click)="mobileQuery.matches ? snav.toggle(): clickedLink()">
            Eliminar Facturas Proveedor
          </a>
          <a mat-list-item class="mat-list-item" routerLink="/"
             (click)="mobileQuery.matches ? snav.toggle(): clickedLink()">
            Cobro Anticipado de Facturas Proveedor
          </a>
          <a mat-list-item class="mat-list-item" routerLink="/"
             (click)="mobileQuery.matches ? snav.toggle(): clickedLink()">
            Carga de Facturas Distribuidor
          </a>
        </mat-nav-list>
      </mat-expansion-panel>
      <mat-expansion-panel style="width: 100%;">
        <mat-expansion-panel-header>Asociar Facilidades</mat-expansion-panel-header>
        <mat-nav-list class="mat-nav-list">
          <a mat-list-item class="mat-list-item" routerLink="/relate-easiness"
             (click)="mobileQuery.matches ? snav.toggle(): clickedLink()">
            Facilidad Proveedor
          </a>
          <a mat-list-item class="mat-list-item" routerLink="/"
             (click)="mobileQuery.matches ? snav.toggle(): clickedLink()">
            Facilidad Distribuidor
          </a>
        </mat-nav-list>
      </mat-expansion-panel>

      <mat-expansion-panel style="width: 100%;">
        <mat-expansion-panel-header>Liberación de Cupo/ Pago Crédito</mat-expansion-panel-header>
        <mat-nav-list class="mat-nav-list">
          <a mat-list-item class="mat-list-item" routerLink="/pay-provider-invoices"
             (click)="mobileQuery.matches ? snav.toggle(): clickedLink()">
            Pago Facturas Proveedor
          </a>
        </mat-nav-list>
      </mat-expansion-panel>

      <mat-nav-list class="mat-nav-list">
        <a mat-list-item class="mat-list-item mx-auto" routerLink="/affiliate-provider"
           (click)="mobileQuery.matches ? snav.toggle(): clickedLink()">
          Afiliación Cliente Proveedor
        </a>
      </mat-nav-list>
      <mat-nav-list class="mat-nav-list">
        <a mat-list-item class="mat-list-item" routerLink="/"
           (click)="mobileQuery.matches ? snav.toggle(): clickedLink()">
          Formatos Carga Facturas
        </a>
      </mat-nav-list>

    </mat-sidenav>
    <!--<p-pages></p-pages>-->
    <router-outlet></router-outlet>
  </mat-sidenav-container>
</div>

