<div class="container">
  <div class="row">
    <div class="btn col-2 text-left" (click)="clean()">
      <mat-icon class="arrowIcon">arrow_back</mat-icon>
    </div>
    <div class="col-9"></div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6 text-center text-sm-left">
      <h3 class="title">Datos Cliente Proveedor</h3>
    </div>
  </div>
  <div class="row mt-3" *ngIf="naturalProviderData.type == 'natural'">
    <div class="row mx-auto">
      <div class="col-12 col-sm-4 mx-auto">
        <div class="row mx-auto">
          <mat-label class="labels text-left my-2">Tipo Identificaci&oacute;n</mat-label>
        </div>
        <div class="row mx-auto">
          <mat-label class="content text-left my-2">C&eacute;dula de identidad</mat-label>
        </div>
        <div class="row mx-auto">
          <mat-label class="labels text-left my-2">N&uacute;mero Identificaci&oacute;n</mat-label>
        </div>
        <div class="row mx-auto">
          <mat-label class="content text-left my-2">{{naturalProviderData.idNumber}}</mat-label>
        </div>
        <div class="row mx-auto">
          <mat-label class="labels text-left my-2">Tipo de Cliente</mat-label>
        </div>
        <div class="row mx-auto">
          <mat-label class="content text-left my-2">Persona Natural</mat-label>
        </div>
      </div>
      <div class="col-12 col-sm-4 mx-auto">
        <div class="row mx-auto">
          <mat-label class="labels text-left my-2">Nombres Completos</mat-label>
        </div>
        <div class="row mx-auto">
          <mat-label class="content text-left my-2">{{naturalProviderData.name}}</mat-label>
        </div>
        <div class="row mx-auto">
          <mat-label class="labels text-left my-2">Nacionalidad</mat-label>
        </div>
        <div class="row mx-auto">
          <mat-label class="content text-left my-2">{{naturalProviderData.nationality}}</mat-label>
        </div>
        <div class="row mx-auto">
          <mat-label class="labels text-left my-2">Actividad</mat-label>
        </div>
        <div class="row mx-auto">
          <mat-label class="content text-left my-2">{{naturalProviderData.activity}}</mat-label>
        </div>
      </div>
      <div class="col-12 col-sm-4 mx-auto">
        <div class="row mx-auto">
          <mat-label class="labels text-left my-2">Direcci&oacute;n</mat-label>
        </div>
        <div class="row mx-auto">
          <mat-label class="content text-left my-2">{{naturalProviderData.address}}</mat-label>
        </div>
        <div class="row mx-auto">
          <mat-label class="labels text-left my-2">Tel&eacute;fono</mat-label>
        </div>
        <div class="row mx-auto">
          <mat-label class="content text-left my-2">{{naturalProviderData.phone}}</mat-label>
        </div>
        <div class="row mx-auto">
          <mat-label class="labels text-left my-2">N&uacute;mero Celular</mat-label>
        </div>
        <div class="row mx-auto">
          <mat-label class="content text-left my-2">{{naturalProviderData.mobilePhone}}</mat-label>
        </div>
      </div>
    </div>
    <div class="row my-3 mx-auto">
      <div class="col-12 col-sm-4 mr-auto">
        <div class="row mx-auto">
          <mat-label class="labels text-left my-2">Estado Civil</mat-label>
        </div>
        <div class="row mx-auto">
          <mat-form-field appearance="outline" >
            <mat-select name="naturalCivilStatus" id="naturalCivilStatus" [(ngModel)]="naturalCivilStatus" [ngModelOptions]="{standalone: true}">
              <mat-option value="Soltero">Soltero</mat-option>
              <mat-option value="Casado">Casado</mat-option>
              <mat-option value="Divorciado">Divorciado</mat-option>
              <mat-option value="Unión Libre">Unión Libre</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="row mx-auto">
          <mat-label class="labels text-left my-2">Email</mat-label>
        </div>
        <div class="row mx-auto">
          <mat-form-field appearance="outline">
            <mat-chip-list #chipList>
              <mat-chip *ngFor="let email of naturalProviderData.emails; let i = index;" [selectable]="true"
                  [removable]="true" (removed)="naturalEmails.splice(i, 1)">
                    {{email}}
                <mat-icon matChipRemove>cancel</mat-icon>
              </mat-chip>
              <input type="email" placeholder="usuario@dominio.com" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              [matChipInputAddOnBlur]="true" (matChipInputTokenEnd)="addEmail($event, 'natural')" name="naturalEmails"
              id="naturalEmails" [(ngModel)]="naturalEmail" (ngModelChange)="emailEntry('natural')" matTooltip="Puedes ingresar hasta 10 correos electrónicos válidos"
              matTooltipPosition="above">
            </mat-chip-list>
          </mat-form-field>
          <div class="row errors text-center mx-auto my-3" *ngIf="errorEmail != null">
            {{errorEmail}}
          </div>
          <div class="row errors text-center mx-auto my-3" *ngIf="errorEmails != null">{{errorEmails}}</div>
        </div>
      </div>
      <div class="col-12 col-sm-4 mx-auto">
        <div class="row mx-auto">
          <mat-label class="labels text-left my-2">Cuenta de Pago</mat-label>
        </div>
        <div class="row mx-auto">
          <mat-form-field appearance="outline" >
            <mat-select name="naturalPaymentAccount" id="naturalPaymentAccount" [(ngModel)]="naturalPaymentAccount" [ngModelOptions]="{standalone: true}" (ngModelChange)="changedPaymentAccount()">
              <mat-option *ngFor="let account of naturalProviderData.paymentAccounts;" [value]="account">
                {{account.type}} {{account.account}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="row mx-auto">
          <mat-label class="labels text-left my-2">Cédula de Identidad Cónyuge</mat-label>
        </div>
        <div class="row mx-auto" *ngIf="naturalCivilStatus == 'Casado' || naturalCivilStatus == 'Union Libre'">
          <mat-form-field appearance="outline" >
            <input matInput  type="number" placeholder="1709876543"  name="naturaIdSpouse"  id="naturaIdSpouse" [(ngModel)]="naturalSpouseId">
          </mat-form-field>
        </div>
        <div class="row mx-auto">
          <mat-label class="labels text-left my-2">Nombres Completos Cónyuge</mat-label>
        </div>
        <div class="row mx-auto" *ngIf="naturalCivilStatus == 'Casado' || naturalCivilStatus == 'Union Libre'">
          <mat-form-field appearance="outline" >
            <input matInput  type="text" placeholder="María Luisa Montero Castillo"  name="naturaSpouseName"  id="naturaSpouseName" [(ngModel)]="naturalSpouseName">
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="naturalProviderData.type == ''">

  </div>
</div>
