<div class="container my-5">
  <app-search-id *ngIf="curNaturalProviderData == null && curLegalProviderData == null" (idSend)="searchId($event)"
                 [searchError]="searchError" [clean]="doClean"></app-search-id>
  <app-provider-data *ngIf="curNaturalProviderData !== null || curLegalProviderData !== null"
                     [naturalProviderData]="curNaturalProviderData" [legalProviderData]="curLegalProviderData"
                     [anchorCompanies]="anchorCompanies" (Clean)="clean($event)"></app-provider-data>
</div>

