<div class="container my-5">
  <div class="row mx-auto">
    <mat-label class="col-12 mx-auto labels text-center my-2">Selecciona tipo de carga</mat-label>
  </div>
  <div class="container py-4 bg">
    <mat-radio-group class="row mx-auto justify-content-center" name="type" [(ngModel)]="selectedType">
      <div class="col-10 col-sm-4" aria-label="Carga individual">
        <mat-radio-button class="mx-auto my-2" name="individual" [value]="types[0]">
            Carga individual
        </mat-radio-button>
      </div>
      <div class="col-10 col-sm-3" aria-label="Carga masiva">
        <mat-radio-button class="mx-auto my-2" name="massive" [value]="types[1]">
            Carga masiva
        </mat-radio-button>
      </div>
    </mat-radio-group>
  </div>
  <app-individual-invoice-provider *ngIf="selectedType !== null && selectedType === 'individual'" (Clean)="clean($event)"></app-individual-invoice-provider>
  <app-massive-invoice-provider *ngIf="selectedType !== null && selectedType === 'massive'" (Clean)="clean($event)"></app-massive-invoice-provider>
</div>

