// COLOR ****************************************************/
$yellow: #ffdc00;
$blue: #0f265c;
$lighterBlue: #204499;
$black: #0000;
$red: #FF0000;
$lighterBlack: #2E2D2D;
$grey: #707070;
$lighterGrey: #EAEAEA;
$secondaryBackground: #e9ecf3;
$generalBackground: #ffff;
// FONT ****************************************************/
$preloSemiBold :'Prelo-Semi-bold', serif;
$preloMedium: 'Prelo-Medium', serif;
$preloBold: 'Prelo-bold', serif;
$preloBook: 'Prelo-book', serif;
$preloSlabBook: 'Preloslab-book', serif;
// SIZES ****************************************************/
$buttonsWith: 168px;
$extraSmall: 12px;
$small: 14px;
$medium: 16px;
$big: 18px;
$titles: 28px;
$subtitles: 24px;
