<div class="container">
  <form action="" name="idForm">
    <div class="row mx-auto">
      <mat-label class="col-12 col-sm-4 mx-auto labels text-left my-2">Tipo ID</mat-label>
    </div>
    <div class="row mx-auto">
      <mat-form-field appearance="outline"  class="col-12 col-sm-4 mx-auto">
        <mat-select [(ngModel)]="typeId" name="idType" (ngModelChange)="changedSelection()">
          <mat-option *ngFor="let type of typeIds" [value]="type">
            {{type}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="row mx-auto">
      <mat-label class=" col-12 col-sm-4 mx-auto labels text-left my-2">N&uacute;mero ID</mat-label>
    </div>
    <div class="row">
      <mat-form-field appearance="outline"  class="col-12 col-sm-4 mx-auto">
        <input matInput *ngIf="typeId == typeIds[0]"  type="number" placeholder="1709876543213"  name="idRuc"  id="idRuc"
          [(ngModel)]="id" (ngModelChange)="validateId(13)">
        <input matInput *ngIf="typeId == typeIds[1]"  type="number" placeholder="1709876543"  name="id"  id="id"
          [(ngModel)]="id" (ngModelChange)="validateId(10)">
      </mat-form-field>
    </div>
    <div class="row">
      <div class="errors col-12 col-sm-4 mx-auto text-center my-2" >
        {{errorId}}
      </div>
    </div>
    <div class="row">
      <button class="primaryBtn col-6 col-sm-2 my-3 mx-auto text-center" mat-button [disabled]="!(errorId == null && id != null)" (click)="search()">Buscar</button>
    </div>
  </form>
  <div class="row" *ngIf="searchError != null">
    <div  class="alert my-3 alert-danger col-12 col-sm-4 mx-auto text-center" role="alert">{{searchError}}</div>
  </div>
</div>
