<div class="container">
  <div class="row justify-content-center mt-3">
    <div class="col-12 col-sm-8 mx-auto">
      <h1 class="title text-center">Consulta y Reasignación de Especialista</h1>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-sm-6">
      <div class="row mx-auto">
        <mat-label class="col-12 mx-auto labels text-left my-2">Especialista Producto</mat-label>
      </div>
      <div class="row mx-auto">
        <mat-form-field appearance="outline" class="col-12 mx-auto">
          <input type="text"
                 placeholder="Especialista Producto"
                 matInput
                 name="specialist"
                 [matAutocomplete]="specialists"
                 [(ngModel)]="data.specialist"
                 (ngModelChange)="changeSpecialistSearch()">
          <mat-autocomplete #specialists="matAutocomplete">
            <mat-option *ngFor="let name of filteredSpecialistNames" [value]="name">
              {{name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
    </div>
    <div class="col-12 col-sm-6">
      <div class="row mx-auto">
        <mat-label class="col-12 mx-auto labels text-left my-2">Empresa</mat-label>
      </div>
      <div class="row mx-auto">
        <mat-form-field appearance="outline" class="col-12 mx-auto">
          <input type="text"
                 placeholder="Nombre de Empresa"
                 matInput
                 name="company"
                 [matAutocomplete]="company"
                 [(ngModel)]="data.company"
                 (ngModelChange)="changeCompanySearch()">
          <mat-autocomplete #company="matAutocomplete">
            <mat-option *ngFor="let name of filteredCompanyNames" [value]="name">
              {{name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="row mt-3 justify-content-center">
    <div class="col-6 text-center ">
      <button class="btn primaryBtn px-5 my-2 mx-auto " mat-button
              [disabled]="!data.company && !data.specialist "
              (click)="search()">Buscar
      </button>
    </div>
  </div>
  <div class="row justify-content-center" *ngIf="companies.length > 0">
    <div class="col-12 my-3">
      <p class="table-description">Se muestran {{companies.length}} de un total de {{companies.length}}
        empresas</p>
      <div class="table-responsive">
        <table mat-table [dataSource]="dataSource" class=" table table-striped">
          <!-- Checkbox Column -->
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef
                class="text-center">
              <mat-checkbox (change)="$event ? masterToggle() : null" class="px-2"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()">
              </mat-checkbox>
              <span>Seleccionar<br>Todos</span>
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null"
                            [checked]="selection.isSelected(row)">
              </mat-checkbox>
            </td>
          </ng-container>

          <!-- ruc Column -->
          <ng-container matColumnDef="ruc">
            <th mat-header-cell *matHeaderCellDef class="text-center">
              <b>RUC</b>
            </th>
            <td mat-cell *matCellDef="let element" class="mx-2">
              {{element.id_number}}
            </td>
          </ng-container>

          <!-- names Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef class="text-center"><b>Empresa</b></th>
            <td mat-cell *matCellDef="let element" class="mx-2"> {{element.name}} </td>
          </ng-container>

          <!-- actions Column -->
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef class="text-center"><b>Acciones</b></th>
            <td mat-cell *matCellDef="let element">
              <a [routerLink]="['/assign-product-specialists', element.name]" class="btn primaryBtn mx-2">Modificar</a>
            </td>
          </ng-container>

          <!-- firstHeadersRow -->
          <tr mat-header-row *matHeaderRowDef="headers"></tr>
          <tr mat-row *matRowDef="let row; columns: headers;"></tr>
        </table>
      </div>
      <mat-paginator [pageSizeOptions]="[10, 20, 50, 100, 200, 300]"
                     showFirstLastButtons
                     aria-label="Seleccione la pagina">
      </mat-paginator>
    </div>
  </div>
  <div class="row justify-content-left justify-content-sm-end  mx-auto" *ngIf="companies.length > 0">
    <div class="col-0 col-sm-6"></div>
    <div class=" col-12  my-3 col-sm-3 text-center">
      <a [routerLink]="'/assign-product-specialists-modify'" class="btn primaryBtn mx-2" *ngIf="selection.selected.length > 0">Modificar</a>
    </div>
    <div class=" col-12 my-3 col-sm-3 text-center">
      <button class="btn secondaryBtn" id="clean" (click)="cleanSearch()">Cancelar</button>
    </div>
  </div>
</div>
