<div class="container my-4">
  <div class="row">
    <div class="btn col-2 text-left" (click)="clean()">
      <mat-icon class="arrowIcon">arrow_back</mat-icon>
    </div>
    <div class="col-9 text-left">
      <h4 class="title">Datos de factura</h4>
    </div>
  </div>
  <div class="row mx-auto">

    <div class="col-12 col-sm-4 mr-auto">
      <!--type-->
      <div class="row mx-auto">
        <mat-label class="labels text-left my-2">Tipo de documento</mat-label>
      </div>
      <div class="row mx-auto">
        <mat-form-field appearance="outline">
          <input matInput type="text" placeholder="FACTURA" disabled name="type" id="type"
                 [(ngModel)]="invoice.type">
        </mat-form-field>
      </div>
      <!--Regional empresa-->
      <div class="row mx-auto">
        <mat-label class="labels text-left my-2">Regional empresa</mat-label>
      </div>
      <div class="row mx-auto">
        <mat-form-field appearance="outline">
          <mat-select name="regional" id="regional"
                      [(ngModel)]="invoice.regional"
                      [ngModelOptions]="{standalone: true}">
            <mat-option value="Regional Activa">Regional Activa</mat-option>
            <mat-option value="Regional 2">Regional 2</mat-option>
            <mat-option value="Regional 3">Regional 3</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <!--start_date-->
      <div class="row mx-auto">
        <mat-label class="labels text-left my-2">Fecha de ingreso</mat-label>
      </div>
      <div class="row mx-auto">
        <mat-form-field appearance="outline">
          <input matInput type="date" disabled name="start_date" id="start_date"
                 [(ngModel)]="invoice.start_date">
        </mat-form-field>
      </div>

      <!--authorization-->
      <div class="row mx-auto">
        <mat-label class="labels text-left my-2">N&uacute;mero autorizaci&oacute;n</mat-label>
      </div>
      <div class="row mx-auto">
        <mat-form-field appearance="outline">
          <input matInput type="text" placeholder="N&uacute;mero autorizaci&oacute;n" name="authorization"
                 id="authorization"
                 [(ngModel)]="invoice.authorization">
        </mat-form-field>
      </div>

      <!--value-->
      <div class="row mx-auto">
        <mat-label class="labels text-left my-2">Monto</mat-label>
      </div>
      <div class="row mx-auto">
        <mat-form-field appearance="outline">
          <input matInput type="text" placeholder="Monto" name="value" id="value"
                 [(ngModel)]="invoice.value">
        </mat-form-field>
      </div>


    </div>
    <div class="col-12 col-sm-4 mx-auto">

      <!--empresa-->
      <div class="row mx-auto">
        <mat-label class="labels text-left my-2">Empresa</mat-label>
      </div>
      <div class="row mx-auto">
        <mat-form-field appearance="outline">
          <mat-select name="company" id="company"
                      [(ngModel)]="invoice.company"
                      [ngModelOptions]="{standalone: true}">
            <mat-option value="Empresa Activa 1">Empresa Activa 1</mat-option>
            <mat-option value="Empresa Activa 2">Empresa Activa 2</mat-option>
            <mat-option value="Empresa Activa 3">Empresa Activa 3</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <!--empresa-->
      <div class="row mx-auto">
        <mat-label class="labels text-left my-2">Proveedor</mat-label>
      </div>
      <div class="row mx-auto">
        <mat-form-field appearance="outline">
          <mat-select name="provider" id="provider"
                      [(ngModel)]="invoice.provider"
                      [ngModelOptions]="{standalone: true}">
            <mat-option value="Proveedor Activo">Proveedor Activo</mat-option>
            <mat-option value="Proveedor 2">Proveedor 2</mat-option>
            <mat-option value="Proveedor 3">Proveedor 3</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <!--payment_date-->
      <div class="row mx-auto">
        <mat-label class="labels text-left my-2">Fecha pago factura</mat-label>
      </div>
      <div class="row mx-auto">
        <mat-form-field appearance="outline">
          <input matInput type="date" name="payment_date" id="payment_date"
                 [(ngModel)]="invoice.payment_date">
        </mat-form-field>
      </div>

      <!--number-->
      <div class="row mx-auto">
        <mat-label class="labels text-left my-2">N&uacute;mero factura</mat-label>
      </div>
      <div class="row mx-auto">
        <mat-form-field appearance="outline">
          <input matInput type="text" placeholder="N&uacute;mero factura" name="number" id="number"
                 [(ngModel)]="invoice.number">
        </mat-form-field>
      </div>
    </div>


  </div>
  <div class="row mx-auto">
    <div class="col-12 col-sm-10 mr-auto">
      <!--observations-->
      <div class="row mx-auto">
        <mat-label class="labels text-left my-2">Observaciones</mat-label>
      </div>
      <div class="row mx-auto">
        <mat-form-field appearance="outline">
          <textarea matInput placeholder="Texto de hasta 200 caracteres" maxlength="120" rows="6"
                    [(ngModel)]="invoice.observations"></textarea>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="row mx-auto">
    <div class="col-12 col-sm-4 mr-auto">
      <!--request-->
      <div class="row mx-auto">
        <mat-label class="labels text-left my-2">Solicita</mat-label>
      </div>
      <div class="row mx-auto">
        <mat-form-field appearance="outline">
          <mat-select name="request" id="request"
                      [(ngModel)]="invoice.request"
                      [ngModelOptions]="{standalone: true}">
            <mat-option value="">Elija una opcion</mat-option>
            <mat-option value="EMPRESA">EMPRESA</mat-option>
            <mat-option value="PROVEEDOR">PROVEEDOR</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="row justify-content-left justify-content-sm-end  mx-auto">
    <div class="col-0 col-sm-6"></div>
    <div class=" col-12  my-3 col-sm-3 mr-sm-1">
      <button class="btn  primaryBtn" id="saveCompany">Guardar</button>
    </div>
    <div class=" col-12 my-3 col-sm-3 ml-sm-1">
      <button class="btn  secondaryBtn" id="cancelCompany" (click)="clean()">Cancelar</button>
    </div>
  </div>

  <!--spacer-->
  <hr class="col-12 mx-auto my-2 ">

  <div class="row mx-auto">

    <div class="col-12 col-sm-4 mr-auto">
      <!--available_space-->
      <div class="row mx-auto">
        <mat-label class="labels text-left my-2">Cupo disponible</mat-label>
      </div>
      <div class="row mx-auto">
        <mat-form-field appearance="outline">
          <input matInput type="text" placeholder="Cupo disponible" disabled name="available_space" id="available_space"
                 [(ngModel)]="availableSpace">
        </mat-form-field>
      </div>
    </div>
    <div class="col-12 col-sm-4 mx-auto">
      <!--total_invoice-->
      <div class="row mx-auto">
        <mat-label class="labels text-left my-2">Total facturas cargadas</mat-label>
      </div>
      <div class="row mx-auto">
        <mat-form-field appearance="outline">
          <input matInput type="text" placeholder="Total facturas cargadas" disabled name="total_invoice" id="total_invoice"
                 [(ngModel)]="totalInvoice">
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="row" >
    <div  class="alert my-3 alert-danger col-12 col-sm-4 mx-auto text-center" role="alert">Cupo disponible / no disponible</div>
  </div>

  <!--spacer-->
  <hr class="col-12 mx-auto my-2 ">
  <div class="row justify-content-left justify-content-sm-end  mx-auto">
    <div class="col-0 col-sm-9"></div>
    <div class=" col-12 my-3 col-sm-3 ml-sm-1">
      <button class="btn  secondaryBtn" id="download" >Descargar</button>
    </div>
  </div>
  <table mat-table [dataSource]="invoices" class="my-4 table table-striped" style="width: 100%">
    <!-- authorization_number Column -->
    <ng-container matColumnDef="authorization">
      <th mat-header-cell *matHeaderCellDef class="text-center">
        <b>No. Autorizaci&oacute;n</b>
      </th>
      <td mat-cell *matCellDef="let element">
        {{element.authorization}}
      </td>
    </ng-container>
    <!-- number Column -->
    <ng-container matColumnDef="number">
      <th mat-header-cell *matHeaderCellDef class="text-center">
        <b>No. Factura</b>
      </th>
      <td mat-cell *matCellDef="let element"> {{element.number}} </td>
    </ng-container>
    <!-- payment_date Column -->
    <ng-container matColumnDef="payment_date">
      <th mat-header-cell *matHeaderCellDef class="text-center">
        <b>Fecha pago</b>
      </th>
      <td mat-cell *matCellDef="let element"> {{element.payment_date | date }} </td>
    </ng-container>
    <!-- value Column -->
    <ng-container matColumnDef="value">
      <th mat-header-cell *matHeaderCellDef class="text-center">
        <b>Monto Factura</b>
      </th>
      <td mat-cell *matCellDef="let element"> {{element.value}} </td>
    </ng-container>
    <!-- identification Column -->
    <ng-container matColumnDef="identification">
      <th mat-header-cell *matHeaderCellDef class="text-center">
        <b>Indentificaci&oacute;n</b>
      </th>
      <td mat-cell *matCellDef="let element"> {{element.identification}} </td>
    </ng-container>
    <!-- identification_type Column -->
    <ng-container matColumnDef="identification_type">
      <th mat-header-cell *matHeaderCellDef class="text-center">
        <b>Tipo de Indentificaci&oacute;n</b>
      </th>
      <td mat-cell *matCellDef="let element"> {{element.identification_type}} </td>
    </ng-container>
    <!-- provider Column -->
    <ng-container matColumnDef="provider">
      <th mat-header-cell *matHeaderCellDef class="text-center">
        <b>Cliente Proveedor</b>
      </th>
      <td mat-cell *matCellDef="let element"> {{element.provider}} </td>
    </ng-container>
    <!-- provider Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef class="text-center">
        <b>Estado de carga</b>
      </th>
      <td mat-cell *matCellDef="let element"> {{element.status}} </td>
    </ng-container>
    <!-- observations Column -->
    <ng-container matColumnDef="observations">
      <th mat-header-cell *matHeaderCellDef class="text-center">
        <b>Observaciones</b>
      </th>
      <td mat-cell *matCellDef="let element"> {{element.observations}} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <div class="row justify-content-left justify-content-sm-end  mx-auto">
    <div class="col-0 col-sm-6"></div>
    <div class=" col-12  my-3 col-sm-3 mr-sm-1">
      <button class="btn  primaryBtn" >Guardar</button>
    </div>
    <div class=" col-12 my-3 col-sm-3 ml-sm-1">
      <button class="btn  secondaryBtn"  (click)="clean()">Limpiar</button>
    </div>
  </div>
</div>

